.card {
    position: relative;
    word-wrap: break-word;

    @include flexbox();
    @include flex-direction(column);


    &-header {
        padding: 2.25rem;
        width: 100%;
        margin: 0;
        margin-top: 1.25rem;

        .card-text {
            margin-bottom: .5rem;
        }
    }


    &-graph {
        width: 100%;
    }

    &-align-right {
        text-align: right;
    }
}