// Theme color
$primary: hsl(245deg, 100%, 70%);
$secondary: hsl(345deg, 93%, 58%);
$sucess: hsl(102deg, 67%, 44%);
$base-radius: 1rem;
$background-base: hsl(0, 0%, 100%);

// Font
$font-color: hsl(221deg, 18%, 21%);
$font-color-light: hsl(221deg, 18%, 31%);
$font-family-text: "Open sans", Arial, sans-serif;
$font-family-title: "Rubik", sans-serif;
$font-size-title: 1.5rem;
$font-size-subtitle: 1.25rem;
$font-size-paragraph: .875rem;