@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/containers';
@import 'node_modules/bootstrap/scss/grid';

@import './variable';
@import './Functions/global.scss';
@import './Components/global.scss';

body {
    background-color: hsl(210deg, 17%, 98%);

    font-family: sans-serif;
    font-size: 1rem;
    color: $font-color-light;
    font-family: $font-family-text;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    @include box-sizing('border-box');
}

hr {
    @include opacity(0.25);
    height: 1px;
    margin: 1rem 0;
}
